{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
	{% render 'pandectes-rules' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    <style>
      @font-face {
        font-family: "JMH Rastan Black";
        src: url("{{ 'JMH Rastan Black.otf' | asset_url }}") format("opentype");
        src: url("{{ 'JMH Rastan Black.ttf' | asset_url }}") format("truetype");
      }
      @font-face {
        font-family: "Oxanium";
        src: url("{{ 'Oxanium-VariableFont_wght.ttf' | asset_url }}") format("truetype");
      }


    @font-face {
        font-family: "PP Fragment";
        src: url("{{ 'PPFragment-GlareExtraBold.ttf' | asset_url }}") format("truetype");
      }
  @font-face {
      font-family: "OTNeueMontreal";
      src: url("{{ 'OTNeueMontreal-SemiBoldSemiSqueezed.otf' | asset_url }}") format("opentype");
      src: url("{{ 'OTNeueMontreal-SemiBoldSemiSqueezed.ttf' | asset_url }}") format("truetype");
    }

    @font-face {
      font-family: "Steelfish";
      src: url("{{ 'Steelfish Eb.otf' | asset_url }}") format("opentype");
      font-weight: 800;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Blender Pro";
      src: url("{{ 'BlenderPro-Book.otf' | asset_url }}") format("opentype");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Blender Pro";
      src: url("{{ 'BlenderPro-Medium.otf' | asset_url }}") format("opentype");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    </style>

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}
    <script defer="defer" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>    
    <script defer="defer" src="https://cdn.bitmovin.com/player/web/8/bitmovinplayer.js" type="text/javascript"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'slick.js' | asset_url }}" preload></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>
    <script type="module" src="{{ 'cart-events.js' | asset_url }}"></script>
    <script type="module" src="{{ 'cart-observer.js' | asset_url }}"></script>
    {{ content_for_header }}    
    {{- 'output.css' | asset_url | stylesheet_tag: preload: true -}}
    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {{ 'vsh.scss.css' | asset_url | stylesheet_tag }}
    {{- 'tailwind.output.css' | asset_url | stylesheet_tag -}}
    {{- 'skibidi-custom.css' | asset_url | stylesheet_tag -}}
  </head>

  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
    {%- render 'shadow-dom-templates' -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/order' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>
    {{'tiny-img-link-preloader.js' | asset_url | script_tag }}
  <!-- PF EDT START -->
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfSyncProductIdentity = {{ product.id | json}};
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",US: "{{ 'US.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->
</body>
</html>
